@import '../variables';

.banner-blog {
  width: 100%;
  background-color: #fff;
  height: 31rem;
  border-right: 1px solid rgba(222, 219, 220, 0.2);
  margin: 2rem 0 2.4rem 0;
}

.blog-form {
  p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #737067;
    margin-top: 2.4rem;

  }

  input {
    width: 100%;
    background:none;
    border: none;
    border-bottom: 1px solid  #DEDBDC;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  textarea{
    width: 100%;
    padding: 0.6rem 1.2rem 1.8rem 1.2rem;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background: none;
    border: 1px solid #DEDBDC;
    border-radius: 2px;
    margin-bottom: 2.4rem;
  }
}

.margin-right {
  margin-right: 6.4rem;
}

.p-edit{
  font-family: 'Inter',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  color: #1A1718;
}
////button
.wrap-button_blog-page{
display: flex;
  justify-content: end;
  button{
    background: #F8346B;
    box-shadow: 0px 4px 18px rgba(248, 52, 107, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    width: 14.3rem;
    height: 3.6rem;
    border: none;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #FCFBFB;
    cursor: pointer;
  }
}


