@import "../variables";
.setting-modal_post {
  position: absolute;
  z-index: 1;
  background: #FCFBFB;
  width: 134px;
  height: 84px;
  border: 1px solid #DEDBDC;
  border-radius: 2px;
  right: -5.1rem;
  top: 25rem;
  display: flex;
  flex-direction: column;

  p {
    @extend %normal-400-14-24;
    color: #1A1718;
    padding-top: 0.7rem;
    margin-left: 1.7rem;

    &:hover {
      color: #F8346B;

    }
  }
}

.setting-modal_blog {
  position: absolute;
  background: #FCFBFB;
  width: 134px;
  height: 84px;
  border: 1px solid #DEDBDC;
  border-radius: 2px;
  right: 0;
  top: 4rem;
  display: flex;
  flex-direction: column;

  p {
    @extend %normal-400-14-24;
    color: #1A1718;
    padding-top: 0.7rem;
    margin-left: 1.7rem;

    &:hover {
      color: #F8346B;
    }
  }
}

.setting-modal_block {
  padding-left: 1.7rem;
  display: flex;
  flex-basis: 50%;
  align-items: center;
  cursor: pointer;

  a {
    text-decoration: none;
  }


}


