$color-black:#1A1718;
$color-white:#FCFBFB;
$neutral-Dark--30:#737067;
$neutral-Dark-60:#1A1718;
$neutral-Light-10:rgba(222, 219, 220, 1);
$color-greyText:#797476;
/* Neutral Dark/+30 */

$neutral-Dark-plus30:#797476;
